@import '../variables/font.scss';

html {
    box-sizing: border-box;
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
    outline: inherit;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
 }

body {
    max-width: 1440px;   
    margin: 0 auto;

    font-family: $defaultFont, $defaulFontFallback, $genericFontFamily;
}

.main {
    background: white;
    color: black;
}