@import '../variables/font.scss';

html {
    box-sizing: border-box;
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
    outline: inherit;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
 }

body {
    max-width: 1440px;   
    margin: 0 auto;

    font-family: $defaultFont, $defaulFontFallback, $genericFontFamily;
}

.main {
    background: white;
    color: black;
}

/* visible to a screen reader, but visually hidden */
.visually-hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
 }
