@import '../../mixin/flexbox.scss';
@import '../cucumber.scss';

//logo block
.heading-logo {
   @include flx-r-st-st();//flexbox default settings

   &__cucumber {
      @extend .cucumber-sm;

      position: relative;
      top: 1px;
      margin-left: 15px; 
      
      &:not(:first-of-type) {
         margin-left: 4px;
      }
   }
}