
@mixin flx($axisDirection, $justifyContent, $alignItems) {
   display: flex;
   flex-wrap: wrap;
   flex-direction: $axisDirection;
   justify-content: $justifyContent;
   align-items: $alignItems;
}

// flex-direction: row, justify-content: flex-start, align-items: flex-start
@mixin flx-r-st-st {
   @include flx($axisDirection: row, $justifyContent: flex-start, $alignItems: flex-start);
}

// flex-direction: row, justify-content: flex-start, align-items: center
@mixin flx-r-st-c {
   @include flx($axisDirection: row, $justifyContent: flex-start, $alignItems: center);
}

// flex-direction: row, justify-content: space-between, align-items: flex-start
@mixin flx-r-sb-st {
   @include flx($axisDirection: row, $justifyContent: space-between, $alignItems: flex-start);
}

// flex-direction: row, justify-content: space-between, align-items: center
@mixin flx-r-sb-c {
   @include flx($axisDirection: row, $justifyContent: space-between, $alignItems: center);
}

// flex-direction: row, justify-content: center, align-items: center
@mixin flx-r-c-c {
   @include flx($axisDirection: row, $justifyContent: center, $alignItems: center);
}

// flex-direction: column, justify-content: flex-start, align-items: center
@mixin flx-c-st-c {
   @include flx($axisDirection: column, $justifyContent: flex-start, $alignItems: center);
}


