@import '../mixin/dimensions.scss';
@import '../mixin/color.scss';
@import '../mixin/round-corners.scss';

$cucumberLgWidth  : 130px;
$cucumberLgHeight : 421px;

$cucumberSmWidth  : 5px;
$cucumberSmHeight : 16px;

@mixin cucumber($width, $height) {
   @include set_width_height($width, $height);
   @include round_block(600px);
   transform: rotate(19deg);
}

@mixin cucumber_fill($width, $height, $color) {
   @include cucumber($width, $height);
   @include fill($color);
}

@mixin cucumber_grad($width, $height, $lg...) {
   @include cucumber($width, $height);
   background: $lg;

   // &::after {
   //    content: quote(length($list: $lg)); 
   // }
   //@include colorize_bg(unquote($lg))
}


.cucumber-sm {
   @include cucumber_fill($cucumberSmWidth, $cucumberSmHeight, #00FF57);
}

.cucumber-lg {
   @include cucumber_grad($cucumberLgWidth, $cucumberLgHeight, linear-gradient(269deg, #33FF00 3.17%, #CCFF00 99.06%) );
}


