@import '../mixin/dimensions.scss';
@import '../mixin/color.scss';
@import '../mixin/round-corners.scss';

$cucumberLgWidth  : 100px;
$cucumberLgHeight : 406px;

$cucumberSmWidth  : 5px;
$cucumberSmHeight : 16px;

@mixin cucumber($width, $height) {
   @include set_width_height($width, $height);
   @include round_block(600px);
   transform: rotate(19deg);
}

@mixin cucumber_fill($width, $height, $color) {
   @include cucumber($width, $height);
   @include fill($color);
}

@mixin cucumber_grad($width, $height, $lg...) {
   @include cucumber($width, $height);
   // &::after {
   //    content: quote(length($list: $lg)); 
   // }
   // @include colorize_bg(unquote($lg))
   background: $lg;
}


.cucumber-sm {
   @include cucumber_fill($cucumberSmWidth, $cucumberSmHeight, #00FF57);
}

.cucumber-lg-l {
   @include cucumber_grad($cucumberLgWidth, $cucumberLgHeight, linear-gradient(to bottom, #A068E1 3.17%, #715CDE 99.06%) );
}

.cucumber-lg-c {
   @include cucumber_grad($cucumberLgWidth, $cucumberLgHeight, linear-gradient(to bottom, #8372EB 3.17%, #8761E0 99.06%) );
}

.cucumber-lg-r {
   @include cucumber_grad($cucumberLgWidth, $cucumberLgHeight, linear-gradient(to bottom, #986DEB 3.17%, #A268E1 99.06%) );
}



