@import '../../mixin/flexbox.scss';
@import '../../mixin/abs-shift.scss';
@import '../../mixin/dimensions.scss';
@import '../shared/button.scss';
@import '../shared/button-info.scss';

// $svgIcon_encoded :  "%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M8.99962%200C4.02971%200%200%204.02971%200%208.99962C0%2013.9695%204.02971%2018%208.99962%2018C13.9695%2018%2018%2013.9695%2018%208.99962C18%204.02971%2013.9695%200%208.99962%200ZM10.8731%2013.9482C10.4099%2014.131%2010.0411%2014.2697%209.76457%2014.3657C9.48876%2014.4617%209.168%2014.5097%208.80305%2014.5097C8.24229%2014.5097%207.80571%2014.3726%207.49486%2014.099C7.184%2013.8255%207.02933%2013.4789%207.02933%2013.0575C7.02933%2012.8937%207.04076%2012.7261%207.06362%2012.5554C7.08724%2012.3848%207.12457%2012.1928%207.17562%2011.9771L7.75543%209.92914C7.80648%209.73257%207.85067%209.54591%207.88571%209.37219C7.92076%209.19695%207.93752%209.03619%207.93752%208.8899C7.93752%208.62933%207.88343%208.44648%207.776%208.34362C7.66705%208.24076%207.4621%208.19048%207.15657%208.19048C7.00724%208.19048%206.85333%208.21257%206.69562%208.25905C6.53943%208.30705%206.40381%208.35048%206.29257%208.39314L6.44571%207.76229C6.82514%207.60762%207.18857%207.47505%207.53524%207.36533C7.88191%207.2541%208.20952%207.19924%208.5181%207.19924C9.07505%207.19924%209.50476%207.33486%209.80724%207.60305C10.1082%207.872%2010.2598%208.22171%2010.2598%208.65143C10.2598%208.74057%2010.2491%208.89752%2010.2286%209.12152C10.208%209.34629%2010.1691%209.55124%2010.1128%209.73943L9.536%2011.7813C9.48876%2011.9451%209.44686%2012.1326%209.40876%2012.3421C9.37143%2012.5516%209.35314%2012.7116%209.35314%2012.819C9.35314%2013.0903%209.41333%2013.2754%209.53524%2013.3737C9.65562%2013.472%209.86667%2013.5215%2010.1653%2013.5215C10.3063%2013.5215%2010.464%2013.4964%2010.6423%2013.4476C10.819%2013.3989%2010.947%2013.3554%2011.0278%2013.3181L10.8731%2013.9482ZM10.771%205.66019C10.5021%205.9101%2010.1783%206.03505%209.79962%206.03505C9.42171%206.03505%209.09562%205.9101%208.82438%205.66019C8.55467%205.41029%208.41829%205.10629%208.41829%204.75124C8.41829%204.39695%208.55543%204.09219%208.82438%203.84C9.09562%203.58705%209.42171%203.46133%209.79962%203.46133C10.1783%203.46133%2010.5029%203.58705%2010.771%203.84C11.04%204.09219%2011.1749%204.39695%2011.1749%204.75124C11.1749%205.10705%2011.04%205.41029%2010.771%205.66019Z%22%20fill%3D%22%238F00FF%22%2F%3E%0A%3C%2Fsvg%3E%0A";


@mixin item-container {
   @include flx-c-st-st();
   position: relative;

   $parent : &;

   
   &__photo {
      margin: 0px auto 30px;
   }
   
   &__name {
      position: relative;
      margin: 0 auto 10px;
      line-height: 19px;
      font-size: 18px;
      text-align: center;
      color: #1D1B30;
   }

   &__info {
      @extend .btn-info;

      &:hover + #{$parent}__desc {
         display: block;
      }
   }
   
   &__desc {
      display: none;
      overflow: hidden;
      @include set_w_mH(382px, 178px);
      @include shift_bottom_right(-50px, -10px);
      transform: translate(50%, 100%);
      z-index: 2;
      padding: 24px 32px;

      white-space: pre-wrap;
      line-height: 21px;
      font-size: 14px;
      text-align: left;
      color: #1D1B30;
      background: cyan; //TODO: remove lately
      box-shadow: 0px 16px 60px rgba(0, 26, 255, 0.15);
   }
   
   &__price {
      position: relative;
      margin: 0 auto;
      line-height: 19px;
      font-size: 18px;
      text-align: center;
      color: #909090;

      &::after {
         @extend .btn;
         @include shift_top_right(0px, -28px);
         @include square(18px);
         content: '\20bd';  //Rub sign       
      }
   }
}


.lory-item {
   @include item-container();
}