
@import '../../variables/font.scss';

.main {
   padding: 88px 147px 0px;
   
   .main__heading {
      margin-bottom: 54px;

      text-align: center;
      line-height: 41px;
      font-size: 40px;
      font-family: $defaultFont_bold, $defaulFontFallback, $genericFontFamily;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #162E0E;
   }
}