body {
   max-width: 1440px;   
   margin: 0 auto;

   font-family: $defaultFont, $defaulFontFallback, $genericFontFamily;
}

//heading block
.heading {
   background: linear-gradient(121.88deg, #00B3FF -0.35%, #8F00FF 100%);
   
   &.heading_landing {
      min-height: 900px;
   }
}


.heading__row {
   padding-left: 146.5px;
   padding-right: 146.5px;
   padding-top: 35px;
   
   &_menu {
      @include flx-r-sb-st();
      font-size: 16px;

      background: yellowgreen;//FIXME: remove lately
   }

   &_promo {
      @include flx-r-st-st();
      background: yellow;
   }
}


//logo block
.heading-logo {
   display: flex;

   &__cucumber {
      position: relative;
      top: 1px;
      
      width: 5px;
      height: 16px;
      margin-left: 33px; 
      
      background: #00FF57;
      border-radius: 5px;
      transform: rotate(19deg);

      &:not(:first-child) {
         margin-left: 4px;
      }
   }
}



.heading {
   color: white;
}

.link-phone, 
.link-phone:visited,
.link-phone:active {
   color: white;
    font-weight: bold;
   text-decoration: none;
}



.heading-menu__list {
   @include nolist();      //list-style: none
   @include flx-r-st-st(); //display: flex
}

.heading-menu__item {
   &, a {
      text-decoration: none;
      color: rgba($color: #fff, $alpha: 0.7);
      border-bottom: 4px solid transparent; 
   
      &:hover, &:active, &_active {
         color: white;
         border-bottom: 4px solid #33FF00;
      }
   }
}





.heading__row_promo {

}