//heading block
.heading {
   background: linear-gradient(121.88deg, #00B3FF -0.35%, #8F00FF 100%);
   color: white;
   
   &.heading_index {
      min-height: 900px;
   }
}


.heading__row {
   padding-left: 146.5px;
   padding-right: 146.5px;

   
   &_menu {
      @include flx-r-sb-st();
      padding-top: 35px;
      font-size: 16px;

      background: yellowgreen;//FIXME: remove lately
   }

   &_promo {
      @include flx-r-st-st();
      position: relative; //for cucumbers
      // background: rgba(255, 100, 100, 0.3);  //TODO: REMOVE LATELY
   }
}



.link-phone, 
.link-phone:visited,
.link-phone:active {
   color: white;
   font-weight: bold;
   text-decoration: none;

   letter-spacing: 0.05em;
   text-transform: uppercase;
}


.heading-menu__list {
   @include nolist();      //list-style: none
   @include flx-r-st-st(); //display: flex
}

.heading-menu__item {
   &, a {
      text-decoration: none;
      color: rgba($color: #fff, $alpha: 0.7);
      border-bottom: 4px solid transparent; 
   
      &:hover, &:active, &_active {
         color: white;
         border-bottom: 4px solid #33FF00;
      }
   }
}


.heading__cucumbers {
   position: absolute;
   right: 0;
   @include flx-r-st-st();

   & [class^="cucumber"]  {
      margin-right: 40px;
   }
}


.promo__photo {
   z-index: 2; //overlay cucumbers completely!
}

.promo__button-and-text {
   @include flx-r-st-c();

   & .add-to-bag {
      margin: 0;
      margin-left: 24px;
      padding: 0;
      line-height: 17px;
      font-size: 12px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      cursor: pointer;
   }

   & .add-to-bag_underlined {
      @include bottom_line(40px, 2px, #33FF00, -5px);
   }
}



.main {
   padding: 116px 147px 0px;
   
   .main__heading {
      line-height: 41px;
   font-size: 40px;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #162E0E;
   }
}